* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

.container {
  max-width: 1400px;
  margin: auto;
}

.container .container__toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.container .container__content {
  padding: 15px;
}
